// Generate multiple classes
for num in (1..10) {
  .mui-key-width-{num} {
    width: num * $desktop-keyline-increment;
  }
  .mui-key-height-{num} {
    height: num * $desktop-keyline-increment;
  }
}
